.home {

  header {
    // margin set according to fixed nav bar height
    margin: 102px 0 0;
    @media @mobile {
      margin-top: 108px;
    }

    // p tag by default adds 10px padding to bottom, total 30px (current @normalMP value) adjust this if @normalMP changes
    padding-bottom: 20px;
    
    .dashBorder(b);
    .headerImg {
      margin-bottom: @normalMP;
    }
  }

  .content-section {
    margin: @normalMP 0;
    .flex(@fw: wrap; @jc: space-between);
    
    @media @mobile {
      flex-direction: column;
    }
   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
      .mobileWidth();
    }

    .img-content {
      width: 48%;
      padding-left: 1%;
      .mobileWidth();
      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: @normalMP;
    .dashBorder(b);
    @media @mobile {
      .flex(@fd: column-reverse);
    }
    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto @normalMP;
    .mobileWidth();
    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: @normalMP;
    .dashBorder(t);
    .flex(@jc: space-between);
    @media @mobile {
      flex-direction: column;
      align-items: center;
    }

    .destination {
      width: 30%;
      margin-bottom: @normalMP;
      @media @mobile {
        width: 90%;
      }
      .btn {
        .buttonMaker();
        .mobileWidth();
      }
    }
  }
}// home