// Mixins in here

// sets flex and most common options, with no paramaters behaves like display:flex would by itself
.flex(@fd: row; @fw: nowrap; @jc: flex-start; @ai: stretch) {
  display: flex;
  flex-direction: @fd;
  flex-wrap: @fw;
  justify-content: @jc;
  align-items: @ai;
}

// sets font options, defaults set for all
.font(@fontFamily: @mainFont; @fontSize: 1.6rem; @fontColor: black; @fontWeight: normal; @textDecoration: none) {
  font-family: @fontFamily;
  font-size: @fontSize;
  color: @fontColor;
  font-weight: @fontWeight;
  text-decoration: none;
}

// same border used repeatedly, will set top or bottom border based on parameter value of t or b
.dashBorder(@side) when (@side = t) {
  border-top: 2px dashed @navigation-border;
}
.dashBorder(@side) when (@side = b) {
  border-bottom: 2px dashed @navigation-border;
}


// Makes buttons and sets default values for each parameter
.buttonMaker(@bgColor: @button-bg; @borderRadius: 10px; @paddingTB: 1rem; @width: 80%; @fontFamily: @mainFont; @fontSize: 1.8rem; @fontColor: @white; @fontWeight: bold;) {
  background-color: @bgColor;
  border-radius: @borderRadius;
  padding: @paddingTB 0;
  width: @width;
  text-align: center;
  // passes in paramaters to font mixin, defaults set
  .font(@fontFamily; @fontSize; @fontColor; @fontWeight);
}

//sets width to 100% of container for mobile devices
.mobileWidth() {
  @media @mobile {
    width: 100%;
  }
}