nav {
  .bottomBorder();
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color:@main-bg;
  a {
    .font(@fontColor: @shark);
  }
  .navbar {
    .flex(@jc: space-between; @ai: center);
    padding: 30px 0;
    @media (max-width: 500px) {
      flex-direction: column;
      text-align: center;
      padding: 10px 0;
    }
    h1 {
      @media (max-width: 500px) {
        padding: 15px 0;
      }
    }
    .navLinks {
      .flex(@jc: space-around; @ai: center);
      width: 40%;
      @media (max-width: 500px) {
        width: 100%;
      }
      .navItem {
        align-self: center;
      }
    }
  }
}